
body {
    background-color: #885858;
}

.main_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_2{
    border: 1px solid black;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.main_2 div{
    margin: 20px;
}

div img{
    border-radius: 10px;
    width: 500px;
    margin: 50px;
}

div div button{
    margin: 2px;
    border-radius: 9px;
}

.start{
    position: relative;
    gap: 100px;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 700px;
    background-color: blanchedalmond;
}

.welcome{
    position: absolute;
    top: 10%;
    left: 10%;
}

.play{
    position: absolute;
    top: 35%;
    left: 40%;
    padding: 15px;
    background-color: aqua;
}

.question{
    position: absolute;
    top: 54%;
    left: 33%;
    padding: 15px;
    background-color: aqua;
}

.dis{
    position: absolute;
    top: 70%;
    left: 2%;
}

.q_div_layout{
    position: relative;
    gap: 100px;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 700px;
    background-color: blanchedalmond;
}

.ans_div{
    position: absolute;
    top: 12%;
    left: 50%;
}

.ans_input_div{
    position: absolute;
    top: 20%;
    left: 48%;
}

.que_div{
    position: absolute;
    top: 12%;
    left: 10%;
}

.que_input_div{
    position: absolute;
    top: 20%;
    left: 7%;
}

.btn_input_div{
    position: absolute;
    top: 47%;
    left: 7%;
}

.btn_back_div{
    position: absolute;
    top: 51%;
    left: 7%;
}
